/**
 * PROCESS LIST
 */

.process {
    padding-top: 0;
    margin: 0 $spacing-unit * 2 $spacing-unit * 6 $spacing-unit * 2;

    @media screen and (min-height: $desk-wide-start) { margin: 0; }
}

    .wrap--process {
	padding-top: $spacing-unit * 6;
	border: 1px solid #eee;
	border-top: 4px solid $brand-color;
    }

	.process__desc {
	    text-align: center;	
	    max-width: 800px;
	    margin: 0 auto;
	    margin-bottom: $spacing-unit * 6;
	    overflow: auto;
	}

	    .process__desc *:last-child { margin-bottom: 0; }

.process-list {
    @include outer-container(100%);	
    margin: 0;
}
