/**
 * CV
 */

.cv {
    font-size: 0; // Strip white space between inline block elements
}

    .cv h1 {
    	@extend .alpha;
	font-size: 1.5rem;
	margin-bottom: $spacing-unit * 3;
    }

	.cv dl {
	    font-size: $font-size;
	    display: inline-block;
	    vertical-align: top;
	    width: 20%;
	    margin: 0;
	    @extend .clean;
	    padding: 0 $spacing-unit * 3 $spacing-unit * 3 0;
	}

	    .cv dt {
		@extend .gamma;
		font-weight: 400;
	    }

	    .cv dd { margin: 0; }
