/**
 *  BRAND ORDERED LIST
 */

.brand-ordered-list h2 {
    position: relative;
    padding-left: $spacing-unit * 4;
}

.brand-ordered-list h2:before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    background-color: $brand-color;
    height: $font-size * 1.5;
    width: $font-size * 1.5;
    background-image: url($images-url + 'brand-numbers.png');
    background-size: 60px;
    border-radius: 50%;
}

.brand-ordered-list h2:after {
    content: "";
    position: absolute; 
    top: 0;
    left: 8px;
    color: #fff;
    background-color: #f5f;
    // font-size: $font-size * .9;
}

.brand-ordered-list li:nth-child(1) h2:before { background-position: -2px    2px; }
.brand-ordered-list li:nth-child(2) h2:before { background-position: -19px   2px; }
.brand-ordered-list li:nth-child(3) h2:before { background-position: -37px   2px; }
.brand-ordered-list li:nth-child(4) h2:before { background-position: -4px  -17px; }
.brand-ordered-list li:nth-child(5) h2:before { background-position: -19px -17px; }
.brand-ordered-list li:nth-child(6) h2:before { background-position: -34px -17px; }
.brand-ordered-list li:nth-child(7) h2:before { background-position: -3px  -35px; }
.brand-ordered-list li:nth-child(8) h2:before { background-position: -18px -36px; }
.brand-ordered-list li:nth-child(9) h2:before { background-position: -34px -35px; }
//
//
// .brand-ordered-list li:nth-child(1) h2:after { left: 9px; }
// .brand-ordered-list li:nth-child(3) h2:after { left: 9px; }
// .brand-ordered-list li:nth-child(7) h2:after { left: 9px; }
