.service-hero {
    position: relative;
    padding: 0 $spacing-unit--double;
    padding-top: $spacing-unit * 6;
    margin-bottom: $spacing-unit * 6;
    background-color: #fff;
}
    
    .service-hero *:last-child {
    	margin-bottom: 0;
	padding: 0;
    }

.service-hero .wrap {
    @include outer-container;
}


.service-hero__text {
    @include span-columns(12);	
    padding: 0 $spacing-unit--double;
    padding-top: 275px;

    @include media($desk-up-break) {
	@include span-columns(8);	
	padding-top: 0;
    }
}

    .service-hero__text p {
	max-width: 670px;
	text-align: justify;
    }

.service-hero__image {
    text-align: center;
    @include span-columns(12);	
    position: absolute;
    padding-top: $spacing-unit;

    @include media($desk-up-break) {
	position: static;
	text-align: right;
	@include span-columns(4);	
    }
}

    .service-hero__image { max-width: 285px; }
