/**
 * OUTRO
 */

.outro {
    margin-top: -$spacing-unit * 3;
    margin-bottom: $spacing-unit * 3;
    padding-top: 0;
    @include outer-container(100%);
}
  
    .outro__img {
	@include span-columns(4);
    }

    .outro__body {
	padding: $spacing-unit * 3 0;
    }

