/**
 * CV
 */

.cv {
    font-size: 0; // Strip white space between inline block elements
    padding: 0 $spacing-unit * 3.5;
}

    .cv h1 {
    	@extend .alpha;
	font-size: 1.5rem;
	margin-bottom: $spacing-unit * 3;
    }

	.cv dl {
	    font-size: $font-size;
	    display: inline-block;
	    vertical-align: top;
	    width: 50%;
	    margin: 0;
	    @extend .clean;
	    padding: 0 $spacing-unit * 3 $spacing-unit * 3 0;

	    @media screen and (min-width: $lap-start) { width: 50%; }

	    @media screen and (min-width: $lap-start) { width: 33%; }

	    @media screen and (min-width: $desk-start) { width: 20%; }
	}

	    .cv dt {
		@extend .gamma;
		font-weight: 400;
		margin: $spacing-unit 0;
	    }

	    .cv dd {
		margin: 0;
		color: #666;
	    }
