/*
 * PROFILE BLOCK 
 */

.profile {
    width: 300px;	
    height: 75px;
    margin: 0 auto;
}

    .profile__photo {	
	float: left;
	width: 75px;
	height: 75px;
	font-size: 0;
    }

    .profile__photo img {
	width: 100%;
    }

    .profile__info {
	float: left;	
	margin-left: $spacing-unit;
	text-align: left;
	line-height: $font-size * 1.3;
	@include vertical-align;
    }

    .profile__info__name {
	font-size: .9rem;	
	text-transform: uppercase;
	margin-bottom: 0;
    }

    .profile__info__title {
	margin-bottom: 0;
    }
