/**
 * OUTRO
 */

.outro {
    margin-top: -$spacing-unit * 3;
    margin-bottom: $spacing-unit * 3;
    padding-top: 0;
}
  
    .outro__img { padding: 0 $spacing-unit * 9; }

    .outro__body { padding: $spacing-unit * 3 0; }

