/**
 * HOME HERO BANNER
 */

.hero--home {
    position: relative;
    background-color: #6090a6;
    overflow: hidden;
    background-image: url($images-url + 'home-hero-background.svg');
    background-size: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 375px;
    padding-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: $menu-switch) {
	background-size: 75%;
	background-position: 55%;
    }

    @include media($desk-up-break) {
	height: 475px; 
    }
}

// Mask
.hero--home:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $spacing-unit--double*2;
    width: 50%;
    background-color: #fff;

    @media screen and (min-width: $menu-switch) {
	content: "";
    }
}

// Shadow
.hero--home:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 20px;
    z-index: 7;
    box-shadow: inset 3px -6px 12px rgba(0, 0, 0, .1);

    @media screen and (max-width: $menu-switch) {
	display: none;
    }
}

.hero__text--home {
    color: #fff;	
    text-transform: uppercase;
    max-width: 175px;
    margin: $spacing-unit--double auto;
    text-align: center;
    font-size: $font-size;

    @media screen and (min-width: $menu-switch) {
	text-align: left;
	margin: 0;
	@include vertical-align;
    }
    
    @media screen and (min-width: $desk-start) {
	padding-left: $spacing-unit--double;
	max-width: 225px;
	font-size: $font-size * 1.25;
    }
}

.hero--home__item--two, 
.hero--home__item {	
}

.hero--home__item {
    margin: 0 auto;
    max-width: 450px;

    @media screen and (min-width: $menu-switch) {
	position: absolute;
	bottom: -$spacing-unit*2;
	right: -$spacing-unit--half;
	max-width: 435px;
    }

    @include media(670px) {
	max-width: 485px;
    }
    
    @include media($desk-up-break) {
	max-width: 611px;
    }
}

.hero--home__item--two {
    display: none;
    position: absolute;
    bottom: -$spacing-unit;
    @include outer-container(100%);

    @media screen and (min-width: 750px) {
	display: block;
	right: 40%;
	max-width: 250px;
    }

    @include media($desk-up-break + 100) {
	right: $spacing-unit*52;
	max-width: 100%;
    }
}

.hero--home__item--two img,
.hero--home__item img {
    max-width: 100%;
}

