/**
 * BRAND HERO BACKGROUND  
 */

.hero--brand { position: relative; }

    .hero--brand * { z-index: 1; }

.hero--brand:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url($images-url + 'brand-hero-background.svg');
    z-index: 0;
    background-size: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    opacity: .25;

    @media screen and (min-width: $menu-switch) {
	background-size: 75%;
	background-position: 55%;
    }
}

