/*-----------------------------*\

GENERIC

\*-----------------------------*/

@import 'bower_components/normalize.css/normalize.css';

// Breakpoints
//$palm-break: new-breakpoint(max-width $palm 12);
//$lap-break:  new-breakpoint(max-width $lap min-width 400px 12);
//$desk-break: new-breakpoint(max-width $desk min-width 768px 12);


.browsehappy {
    margin: 0.2em 0; 
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
 * Make images inside elements behave.
 */
* > img {
    display: block;
    height: auto;
    width: 100%; 
}

* { 
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;    
	box-sizing: border-box;        
}
