.cf:after {
        content: " "; /* 1 */
	    display: table; /* 2 */

}

.cf:after {
        clear: both;

}

/**
 * VERTICAL CENTERING
 */

.va-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.va-child {
  display: inline-block;
  vertical-align: middle;
}

.posab {
    position: absolute!important;
}

.posrel {
    position: relative!important;
}

.top {
    z-index: 999;
}

/**
 * HELPERS 
 */

// Add/remove floats

.float--right   { float:right!important; }
.float--left    { float:left !important; }
.float--none    { float:none !important; }


// Text alignment

.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


// Font weights

.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }

/**
 * Margins/Padding
 */

// Add/remove margins

.push           { margin:       $spacing-unit!important; }
.push--top      { margin-top:   $spacing-unit!important; }
.push--right    { margin-right: $spacing-unit!important; }
.push--bottom   { margin-bottom:$spacing-unit!important; }
.push--left     { margin-left:  $spacing-unit!important; }
.push--ends     { margin-top:   $spacing-unit!important; margin-bottom:$spacing-unit!important; }
.push--sides    { margin-right: $spacing-unit!important; margin-left:  $spacing-unit!important; }

.push-half          { margin:       $spacing-unit/2!important; }
.push-half--top     { margin-top:   $spacing-unit/2!important; }
.push-half--right   { margin-right: $spacing-unit/2!important; }
.push-half--bottom  { margin-bottom:$spacing-unit/2!important; }
.push-half--left    { margin-left:  $spacing-unit/2!important; }
.push-half--ends    { margin-top:   $spacing-unit/2!important; margin-bottom:$spacing-unit/2!important; }
.push-half--sides   { margin-right: $spacing-unit/2!important; margin-left:  $spacing-unit/2!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


// Add/remove paddings

.soft           { padding:       $spacing-unit!important; }
.soft--top      { padding-top:   $spacing-unit!important; }
.soft--right    { padding-right: $spacing-unit!important; }
.soft--bottom   { padding-bottom:$spacing-unit!important; }
.soft--left     { padding-left:  $spacing-unit!important; }
.soft--ends     { padding-top:   $spacing-unit!important; padding-bottom:$spacing-unit!important; }
.soft--sides    { padding-right: $spacing-unit!important; padding-left:  $spacing-unit!important; }

.soft-half           { padding:       $spacing-unit/2!important; }
.soft-half--top      { padding-top:   $spacing-unit/2!important; }
.soft-half--right    { padding-right: $spacing-unit/2!important; }
.soft-half--bottom   { padding-bottom:$spacing-unit/2!important; }
.soft-half--left     { padding-left:  $spacing-unit/2!important; }
.soft-half--ends     { padding-top:   $spacing-unit/2!important; padding-bottom:$spacing-unit/2!important; }
.soft-half--sides    { padding-right: $spacing-unit/2!important; padding-left:  $spacing-unit/2!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }

/**
 * Visually Hidden
 */

.accessibility,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
}

/**
 * Extra visuallyhidden styles.
 */
.visible--desk-wide {
    @include media-query(desk-end) {
        @extend accessibility;
    }
}

.visuallyhidden--palm-small {
    @include media-query(palm-small) {
	color: blue;
        @extend accessibility;
    }
}

.visuallyhidden--palm-large {
    @include media-query(palm-large) {
        @extend accessibility;
    }
}

.visuallyhidden--desk-only {
    @include media-query(only-desk) {
        @extend accessibility;
    }
}
