/*-----------------------------*\

WRAPS 

\*-----------------------------*/

/**
 * Gives content a max width
 */

.wrap {
    position: relative;
    display: block;
    max-width: $wrap-width;
    padding: 0 $spacing-unit;
    margin: 0 auto;    
}

    .wrap--full-height {
	height: 100%;
    }

    .wrap--static {
	position: static;
    }
