/**
 * HOVER STATES
 */

.zoom-hover-parent {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
	-webkit-perspective: 1000;
}

    .zoom-hover {
	transform: translate3d(0, 0, 0);
	transition: transform 1s;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    }

    .zoom-hover:hover {
	transform: translate3d(0, 0, 50px);	
	transition: transform 3s;
    }

.flip {
    transform: rotate(0);	
    //transition: transform .25s ease;
}

.active .flip {
    transform: rotate(180deg);	
    //transition: transform .25s ease;
}
