/**
 * HERO BANNER
 */

.hero {
   min-height: 375px; 
   background-size: cover;

   @include media($desk-up-break) {
	min-height: 475px; 
   }
}

    .hero-text ul {
	margin-bottom: $spacing-unit--double;	
    }
