/**
 * craigmacintyre.co.uk
 * @author Craig MacIntyre
 * @email cmac2712@gmail.com
 */
//$visual-grid: true;
$gutter: 4em;

@import 'tools';
@import 'bower_components/inuit-functions/tools.functions';

@import 'settings';
@import 'bower_components/inuit-defaults/settings.defaults';

@import 'generic';

@import 'base';

@import 'objects.buttons';
@import 'objects.hero';
@import 'objects.hovers';
@import 'objects.icons';
@import 'objects.links';
@import 'objects.info';
@import 'objects.layers';
@import 'objects.lists';
@import 'objects.span-columns';
@import 'objects.text';
@import 'objects.underline';
@import 'objects.wraps';

$inuit-media-gutter:		 $spacing-unit * 2;
$inuit-enable-media--tiny:       false;
$inuit-enable-media--small:      false;
$inuit-enable-media--large:      false;
$inuit-enable-media--huge:       false;
$inuit-enable-media--rev:        false;
$inuit-enable-media--flush:      false;
$inuit-enable-media--responsive: true;
$inuit-media-collapse-at:        $lap-reg-start;
@import 'bower_components/inuit-media/_objects.media.scss';
@import 'components.contact';
@import 'components.clock'; // DEPRECATED
@import 'components.header';
@import 'components.cv';
@import 'components.get-started';
@import 'components.home-hero';
@import 'components.about-hero';
@import 'components.about';
@import 'components.brand-hero';
@import 'components.profile';
@import 'components.block-desc';
@import 'components.service-hero';
@import 'components.outro';
@import 'components.process-list';
@import 'components.brand-ordered-list';
@import 'components.home-blocks';
@import 'components.main-header';
@import 'components.main-nav';
@import 'components.footer';

@import 'helpers';
@import 'bower_components/inuit-clearfix/trumps.clearfix';
